/* Google font: Ultra */
@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');
/* font-family: 'Ultra', serif; */

/* Google font: Notable */
@import url('https://fonts.googleapis.com/css2?family=Notable&display=swap');
/* font-family: 'Notable', sans-serif; */

/* Google font: Cormorant */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* font-family: 'Cormorant', serif; */

/* Google Font: Petit Formal Script */
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');
/* font-family: 'Petit Formal Script', cursive; */
body {
  background-color: thistle;
  color: #485681;
}

h1 {
  padding-top: 50px;
  text-align: center;
  /* text-decoration: underline; */
  color: #485681;
  font-size: 55px;
  font-family: 'Notable', sans-serif;
}

p{
text-align: center;
font-family: 'Cormorant', serif;
font-size: 40px;
letter-spacing: 6px;
text-transform: uppercase;
}

#contactMe {
  text-align: center;
  font-family: 'Cormorant', serif;
  font-weight: 700;
  font-size: 20px;
}

#phone {
  font-size: 25px;
}

#linkedIn {
  width: 20px;
  height: 20px
  
}
#gitHub {
  width: 20px;
  height:20px;
}

#main {
  background-color: #F4EDF4;
  margin: 50px;
}
/* navbar */
#nav {
  display:flex;
  justify-content: space-evenly;
  position: sticky;
  top: 5px; 
}

/* navbar links */
.navi {
  top: 30px;
  border: 2px solid #485681;
  font-size: 20px;
  padding: 5px;
  font-family: 'Petit Formal Script', cursive;
  font-weight: bold;

}
/* link styles */
a:link {
  color: #485681;
  text-decoration: none;
}
a:hover {
  color: #B004B0;
  font-weight: bold;
}

li {
  border: 3px solid #485681;
  display: inline-block;
}
